	<!DOCTYPE html>
<html lang="en">
<style type="text/css">
	.background {
 /*background-image: url("/assets/kickstart-tech.jpg");*/
 background-color:yellow;
}
</style>
<h1 align="center" bgcolor="green"> Welcome Images
<a><img align="left" src="/assets/logo1.jpg" width="90" height="80"></a></h1>
<br>
<%=@a %> go to Welcome <%= link_to 'Index', welcome_index_path %> 
<br>

Image 
<img align="right" src="/assets/img1.jpg" width="100" height="80"/>
 
<body class="background">

	<img src="/assets/kickstart-tech.jpg"/>
	<img align="right" src="/assets/logo1.jpg" width="90" height="80">

	<a href="index.html" style="margin-left:10px;">MyHome </a>

</body>
</html>
